
body {
  background-color: #444;
}

.wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: auto;
  position: relative;
}
