
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bold {
  font-weight: bold !important;
}
.center {
  text-align: center !important;
}
.width-100 {
  width: 100%;
}

.card {
  margin-bottom: 1em !important;
}
.pale-green {
  background-color: #98fb98 !important;
  color: #444 !important;
}
.pale-yellow {
  background-color: #eee8aa !important;
  color: #444 !important;
}
